<%= form_for(@order) do |f| %>
  <% if @order.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@order.errors.count, "error") %> prohibited this order from being saved:</h2>

      <ul>
      <% @order.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <table id="driver-table" class = "two" border=1 rules=rows>
      <thead>
      <tr>
        <th>Статус</th>
        <th>ID</th>
        <th>Имя</th>
        <th>Номер телефона</th>
      </tr>
    </thead>
    <tbody>
      <% @drivers.each do |driver| %>
        <tr>
          <td><%= status_string(driver.status) %></td>
          <td><%= driver.id %></td>
          <td><%= driver.name %></td>
          <td><%= driver.phone_number_string %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <div class="field">
    <%= f.label :driver_id %><br>
    <%= f.collection_select(:driver_id, @drivers, :id, :name) %>
  </div>
  <div class="field">
    <%= f.label :comment %><br>
    <%= f.text_area :comment %>
  </div>

  <div class="field">
    <%= f.label :AdresFrom %><br>
    <%= f.text_field :AdresFrom %>
  </div>
  <div class="field">
    <%= f.label :AdresTo %><br>
    <%= f.text_field :AdresTo %>
  </div>
  <div class="field">
    <%= f.label :number_of_passengers %><br>
    <%= f.number_field :number_of_passengers %>
  </div>
  <div class="field">
    <%= f.label :date_of_trip %><br>
    <div class="row">
      <div class='col-sm-6'>
          <%= f.text_field :date_of_trip,  :class=>'form-control', :id=>'datetimepicker4' %>
      </div>
    </div>
  </div>
  <div class="field">
    <%= f.label :phone_number %><br>
    <%= f.text_field :phone_number %>
  </div>
  <div class="field">
    <%= f.label :email %><br>
    <%= f.text_field :email %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
