<%= form_for(@order) do |f| %>
  <% if @order.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@order.errors.count, "error") %> prohibited this order from being saved:</h2>

      <ul>
      <% @order.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


  <div class="field">
    <%= f.label 'Адрес, куда подать машину' %><br>
    <%= f.text_field :AdresFrom %>
  </div>
  <div class="field">
    <%= f.label 'Адрес, куда будете ехать' %><br>
    <%= f.text_field :AdresTo %>
  </div>
  <div class="field">
    <%= f.label 'Количество пассажиров' %><br>
    <%= f.number_field :number_of_passengers, :value => 1 %>
  </div>
  <div class="field">
    <%= f.label 'Укажите дату и время поездки' %><br>
    <%= f.datetime_select :date_of_trip %>
  </div>
  <div class="field">
    <%= f.label 'Здесь вы можете указать дополнительную информацию' %><br>
    <%= f.text_area :comment %>
  </div>
  <div class="field">
    <%= f.label 'Ведите номер, по которому с вами можно связаться' %><br>
    <%= f.text_field :phone_number %>
  </div>
  <div class="field">
    <%= f.label 'Введите email, на который будет отправлена информация о заказе' %><br>
    <%= f.text_field :email %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
