<!DOCTYPE html>
<html>
<head>
  <title>Taxiproject</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<%= link_to("Home", root_path) %>
<% if current_admin || current_dispatcher || current_driver %>
<%= link_to("Orders", orders_path) %>
<% end %>

<% if current_admin %>
<%= link_to("Log out", destroy_admin_session_path) %>
<%= link_to("Register new admin", new_admin_registration_path) %>
<%= link_to("Register new dispatcher", new_dispatcher_registration_path) %>
<%= link_to("Register new driver", new_driver_registration_path) %>
<%elsif !current_driver && !current_dispatcher %>
<%= link_to("Admins: Log in", admin_session_path) %>
<%end%>

<% if  current_dispatcher %>
<%= link_to("Log out as dispatcher", destroy_dispatcher_session_path) %>
<%elsif !current_admin && !current_driver %>
<%= link_to("Dispatchers: Log in", driver_session_path) %>
<%end%>

<% if  current_driver %>
<%= link_to("Log out", destroy_driver_session_path) %>
<%elsif !current_admin && !current_dispatcher %>
<%= link_to("Drivers: Log in", driver_session_path) %>
<%end%>

<%= yield %>

</body>
</html>
